@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#navbar {
	background-color: #e5ab09;

}
body {
	padding-top: 5rem;
}

.nav-link {
	color: #22180d;
}

#navbar-name {
	font-family: Pacifico;
	font-size: 30px;
	color: #0f1a26;
}

.section-title {
	font-family: Pacifico;
	background-color:#e5ab09;
	font-size: 250%;
	text-align: center;
	padding: 1rem;
}

#send-button {
	background-color:#e5ab09 ;
}

a:link {
	color: black;
}

a:visited {
	color: #22180d;
}

a:hover {
	color: #e5ab09;
}

#pre-footer {
	text-align: center;
	background-color: #e5ab09;
	padding: 5px;
	margin-top: 40px;
}

#footer {
	background-color:#e5ab09;
}

footer > div > a:hover {
	color: white;
}


.btn {
	background-color:#e5ab09;
}

#social-media {
	margin-top: 0.5rem;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-bottom: 0.5rem;
}

.intro {
	text-align: justify;
}

